* {
    /* font-family: 'Ubuntu', sans-serif; */
}

a{
    text-decoration: none;
}

.nvr {
    background: rgba(162, 162, 162, 0.09);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(15px);
    /* border: 1px solid rgba(162, 162, 162, 0.32); */
}

.log-one {
    background-image: url('/img/main-bg.png');
    background-position: center;
    background-size: cover;
}

.log-two {
    background: rgba(162, 162, 162, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(162, 162, 162, 0.32);
}

@media (max-width: 800px) {
    .log-two {
        background: rgba(162, 162, 162, 0.09);
        backdrop-filter: none;
    }

}

#dash-head {
    border-radius: 10px;
    margin-top: 10px;
}

#up-img {
    width: 50%;
}

#up-img2{
    width: 15%;
}

#up-img3{
    width: 10%;
}

#up-img4{
    width: 10%;
}

.foo{
    align-items: center;
    font-size: small;
    justify-content:space-between;
    display: flex;
    background-color: rgba(162, 162, 162, 0.09);
  }


  #preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .preview-item {
    position: relative;
    width: 100px;
    /* height: 200px; */
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .preview-item img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .preview-item .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    /* padding: 5px; */
    cursor: pointer;
  }
  
  .dataTables_length{
    margin-top: 10px;
  }